.csv-table{
    width:900px;
    margin: 0 auto;
    margin-top: 20px;
}
.headerData{
    width: 200px;
    text-align: left;
}
.header-title{
width: 400px;
margin: 0 auto;
text-align: center;
}
.filter{
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;

}
.not-found{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}